*

{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Josefin Sans', sans-serif;
}

section
{
    padding: 35px 7%;
}

.contact
{
    background: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 6rem
}

.contactForm h1
{
    font-size: 70px;
    color: black;
    margin-bottom: 10px;
}

span
{
    color: green;
}

.contactForm p
{
    color: rgb(61, 61, 61);
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.contactForm form 
{
    position: relative;
}

.contactForm form input,
form textarea
{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background: rgb(221, 221, 221);
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}

.contactForm textarea
{
    resize: none;
    height: 200px;
}

.contactForm form .btn
{
    display: inline-block;
    background: limegreen;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 65%;
    transition: ease .20s;
    cursor: pointer;
}

.contactForm form .btn:hover
{
    border: 2px solid limegreen;
    background: transparent;
    transform: scale(1.1);
}
