@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	overflow: overlay;
}

section
{
	position: relative;
	width: 100%;
	max-height: 100%;
	padding: 80px;
	justify-content: space-between;
	align-items: center;
	background: #fff;
}

header
{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 5px 3%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo
{
	position: relative;
	max-width: 90px;
}

header ul
{
	position: relative;
	display: flex;
}

header ul li
{
	list-style: none;
}

header ul li a
{
	display: inline-block;
	color: #333;
	font-weight: 400;
	margin-left: 40px;
	text-decoration: none;
}

.content
{
	position: relative;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	margin-top: -120px;
}

.main_hero{
	font-size: 2.2em;
	font-weight: 700;
	line-height: 50px;
	position: relative;
	margin-top: 110px;
}

h2 span{
	color: rgb(24, 109, 24);
}

.content .textBox
{
	position: relative;
	max-width: 600px;
	display: contents;
}

.content .textBox h2
{
	color: #333;
	font-size: 3.2em;
	line-height: 1.2em;
	font-weight: 550;
}

.content .textBox h2 span 
{
	color: #017143;
	font-size: 1.2em;
	font-weight: 800;
}

.content .textBox p
{
	margin-top: 20px;
	color: #333;
	font-weight: 550;
	margin-top: 50px;
}

.content .textBox a 
{
	display: inline-block;
	margin-top: 20px;
	padding: 8px 20px;
	background: #017143;
	color: #fff;
	border-radius: 40px;
	font-weight: 850;
	letter-spacing: 1px;
	text-decoration: none;
}

.content .textBox a:hover{
	color: rgb(202, 57, 57);
}

.content .imgBox
{
	display: flex;
	justify-content: center;
	padding-right: 10px;
	margin-top: 0px;
	display: inline-flex;
}

.imgBox img
{
	max-width: 26em;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 20px;
}

.textonly{
	display: flex;
}

@media (min-width: 980.5px)
{
	.content{
		max-width: 500px;
	}
	section{
		padding: 0px 80px;
	}
	.main_hero{
		margin-top: 20px;
	}
}

@media (max-width: 980px){
	section{
		padding: 20px;
	}
	.textBox{
		display: contents;
	}
}

@media (max-width: 465px){
	section{
		margin-top: 40px;
	}
}