@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

.section {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #eff4fd;
  position: relative;
  transition: 0.6s;
}

.body{
  max-width: 100%;
}

header {
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255);
  padding: 15px 20px;
  border-bottom: 1px solid transparent;
  transition: all 0.4 ease;
}

.logo img {
  position: relative;
  max-width: 90px;
}

.navbar {
  display: flex;
}

.navbar a {
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 13px 25px;
  margin: 0 2px;
  border-radius: 20rem;
  transition: all 0.4s ease;
}

.navbar li a {
  text-decoration: none;
  display: list-item;
}

.navbar a:hover {
  background: rgb(0, 181, 0);
  color: #ffffff;
}

.btn {
  display: inline-block;
  border-radius: 110px;
  font-size: 17px;
  color: #ffffff;
  background: rgb(0, 181, 0);
  border: 1px solid rgb(0, 181, 0);
  padding: 10px 25px;
  text-decoration: none;
}

.hamburger {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  display: block;
  width: 2rem;
  height: 2rem;
  z-index: 1002;
}

.hamburger span {
  color: rgb(69, 179, 69);
  font-size: 1.7rem;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  padding-top: 10rem;
  opacity: 0;
  transform: translateY(-100%);
  background-color: white;
  transition: 0.45s;
}

.mobile-menu.is-open {
  opacity: 1;
  transform: translateY(0);
}

.mobile-menu a {
  font-weight: 600;
  display: block;
  padding: 1rem;
  color: black;
  font-size: 1.25rem;
  text-align: center;
  transition: 0.4s;
}

.mobile-menu a:hover {
  color: rgb(0, 181, 0);
}

.logo img{
  z-index: 1003;
}

.achieve{
  font-size: 1.7em;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  padding: 5px 3%;
  padding-top: 15px;
}

h1{
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

h2{
  opacity: 0%;
}

hr{
  width: 40%;
  height: 2.8px;
  border: none;
  background-color: rgb(70, 70, 70);
  margin-top: 1px;
  margin-bottom: 0px;
  border-radius: 50px;
}

section{
  margin-top: 25px;
  padding: 0 75px;
}

p{
  margin-bottom: 50px;
}

strong{
  color: green;
}

span{
  margin-left: 10px;
}

.star{
  color: black;
  font-size: 1.3em;
}

.new{
  margin-bottom: 8px;
}

.content-table{
  min-width: 600px;
  min-height: 700px;
}

.content-table thead th{
  background-color: rgb(68, 190, 68);
  color: white;
  text-align: left;
  font-weight: 600;
}

.content-table tr,
.content-table td{
  padding: 2px 5px;
}

.content-table tbody tr{
  border-bottom: 1px solid;
}

@media (max-width: 425px) {
  header {
    margin-bottom: 10px;
    padding: 15px 15px;
  }
  .navbar {
    display: none;
  }
  table{
    display: none;
  }
  section{
    padding: 0 30px;
  }
}

@media (min-width: 867.5px){
  hr{
    margin-bottom: 70px;
    transition: 0.6s ease-in-out;
  }
}

@media (max-width: 867px) {
  .navbar {
    display: none;
  }
  .container {
    justify-content: space-evenly;
  }
  .logo img {
    max-width: 80px;
    transition: 0.6s;
  }
  .btn {
    display: none;
  }
  header {
    padding: 5px 3%;
    transition: 0.6s;
  }
  h2{
    opacity: 100%;
    transition: 0.6s ease-out;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 70px;
    font-size: 1.3rem;
  }
}

@media (max-width: 868px) {
  .logo img {
    max-width: 80px;
    transition: 0.6s;
  }
  header {
    padding: 5px 3%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 980px) {
  header {
    padding: 5px 3%;
  }
  .achieve{
    font-size: 1.7em;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    padding: 17px 3%;
  }
}

@media (min-width: 872px){
  .mobile-menu, .hamburger{
    display: none;
  }
}

@media (max-width: 868px){
  section{
    padding: 0 32px;
  }
}

/* Big Screen
  
@media (min-width: 1116px){
    header{
      padding: 20px 3%;
    }
  } */
