@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;650;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* custom clamps */
:root {
  --step--2: clamp(0.65rem, calc(0.53rem + 0.6vw), 0.96rem);
  --step--1: clamp(0.78rem, calc(0.62rem + 0.82vw), 1.2rem);
  --step-0: clamp(0.94rem, calc(0.72rem + 1.1vw), 1.5rem);
  --step-1: clamp(1.13rem, calc(0.83rem + 1.46vw), 1.88rem);
  --step-2: clamp(1.35rem, calc(0.96rem + 1.94vw), 2.34rem);
  --step-3: clamp(1.62rem, calc(1.11rem + 2.56vw), 2.93rem);
  --step-4: clamp(1.94rem, calc(1.27rem + 3.35vw), 3.66rem);
  --step-5: clamp(2.33rem, calc(1.46rem + 4.38vw), 4.58rem);
}

:root {
  --text-color: #fff;
  --text-colour: #000;
  --main-color: #eb4a4a;
  --second-color: green;
  --other-color: #12141c;
  --h1-font: 1.7rem;
  --h2-font: 1.4rem;
  --p-font: 1.13rem;
  --h1font: clamp(0.78rem, calc(0.62rem + 0.82vw), 1.07rem);
}

h1, h2, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color: black;
}

.section {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #eff4fd;
  position: relative;
  transition: 0.6s;
}

header {
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255);
  padding: 15px 20px;
  border-bottom: 1px solid transparent;
  transition: all 0.4 ease;
  margin-bottom: 15px;
}

header:hover {
  background-color: white;
  transition: 0.6s;
}

header {
  background-color: rgba(255, 255, 255, 0.601);
  transition: 0.6s;
}

.logo img {
  position: relative;
  max-width: 90px;
}

.navbar {
  display: flex;
  list-style: none;
}

.navbar a {
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px 25px;
  margin: 0 2px;
  border-radius: 20rem;
  transition: all 0.4s ease;
}

.navbar li a {
  text-decoration: none;
  display: list-item;
}

.navbar a:hover {
  background: rgb(0, 181, 0);
  color: #ffffff;
}

.btn {
  display: inline-block;
  border-radius: 110px;
  font-size: 17px;
  color: #ffffff;
  background: rgb(0, 181, 0);
  border: 1px solid rgb(0, 181, 0);
  padding: 10px 25px;
  text-decoration: none;
}

.hamburger {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  display: block;
  width: 2rem;
  height: 2rem;
  z-index: 1002;
}

.hamburger span {
  color: rgb(69, 179, 69);
  font-size: 1.7rem;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  padding-top: 10rem;
  opacity: 0;
  transform: translateY(-100%);
  background-color: white;
  transition: 0.45s;
}

.mobile-menu.is-open {
  opacity: 1;
  transform: translateY(0);
}

.mobile-menu a {
  font-weight: 600;
  display: block;
  padding: 1rem;
  color: black;
  font-size: 1.25rem;
  text-align: center;
  transition: 0.4s;
}

.mobile-menu a:hover {
  color: rgb(0, 181, 0);
}

.logo img {
  z-index: 1003;
}

#h1 {
  font-size: var(--step-1);
  min-width: auto;
  display: block;
  justify-content: center;
  text-align: center;
  padding: 0 3%;
  margin-bottom: 20px;
  font-weight: 650;
  color: #393939;
}

.mainbody {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  height: 100%;
  position: relative;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  padding: 0 50px;
}

.container .box {
  position: relative;
  width: 350px;
  padding: 0px;
  background: rgb(252, 251, 251);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  margin: 10px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  font-size: var(--step--2);
}

.container .box .content p {
  margin: 0;
  padding: 0;
  font-weight: 600;
  padding: 40px;
  font-size: var(--step--2);
}

.bodier {
  padding: 0px 60px;
  height: 100vh;
  position: relative;
}

.bodier h1 {
  font-size: var(--step-1);
  margin-bottom: 60px;
  font-weight: 700;
  max-width: auto;
  display: block;
  justify-content: center;
  text-align: center;
  font-weight: 650;
  color: #393939;
}

.bodied {
  padding: 80px 0;
  height: 100vh;
}

.bodied ul {
  margin-left: 30px;
  margin-top: 20px;
  font-size: var(--h1font);
}

.bodiedd{
  overflow: hidden;
  display: inline-block;
  position: relative;
  gap: 3em;
  justify-content: center;
}

.inline{
  max-width:fit-content;
  margin-bottom: 55px;
}

.unified li{
  list-style-type: square;
}

.container {
  --min: 30ch;
  --gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.container > * {
  flex: 1 1 var(--min);
}

/* 
.title{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
} */








/* Responsive media queries */

@media screen and (min-width: 740px){
  .bodiedd{
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .container .box {
    width: 300px;
    transition: 0.6s ease;
  }
}

@media screen and (min-width: 800px) {
  .container .box {
    transition: 0.6s ease;
  }
}

@media screen and (max-width: 678px) {
  .container .box {
    width: 275px;
    transition: 0.6s ease;
  }
}

@media screen and (max-width: 530px) {
  .container .box {
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  header {
    margin-bottom: 10px;
    padding: 15px 15px;
  }
  .navbar {
    display: none;
  }
}

@media (max-width: 980px) {
  header {
    padding: 5px 3%;
  }
  .logo img {
    max-width: 80px;
  }
  .navbar a {
    font-size: 1rem;
  }
}

@media (min-width: 872px) {
  .mobile-menu,
  .hamburger {
    display: none;
  }
  .box {
    width: 336px;
  }
}

@media (max-width: 871px) {
  .navbar {
    display: none;
  }
  .logo img {
    max-width: 80px;
    transition: 0.6s;
  }
  .btn {
    display: none;
  }
  header {
    padding: 5px 3%;
    transition: 0.6s;
  }
}

@media (max-width: 868px) {
  .logo img {
    max-width: 80px;
    transition: 0.6s;
  }
  header {
    padding: 5px 3%;
    transition: 0.6s;
  }
}
