*{
    scroll-behavior: smooth;
}

header{
    animation: fadein 1s;
}

#home{
    animation: fadein 1s cubic-bezier(0.59,-0.04, 0.66, 1.09);
    pointer-events: none;
}

.slide{
    opacity: 0;
    transition: all 1s;
}

.show{
    opacity: 1;
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}