*

{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Josefin Sans', sans-serif;
list-style: none;
}

header{
    position: relative;
    position: fixed;
    right:0;
    top:0;
    width:100%;
    z-index: 1000;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgba(255, 255, 255, 0.801);
    padding: 15px 70px;
    border-bottom:1px solid transparent;
    transition: all .40 ease;
    text-decoration: none;
}

.logo img{
	position: relative;
	max-width: 90px;
}

.navbar{
    display: flex;
}

.navbar a{
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 13px 25px;
    margin: 0 2px;
    border-radius: 20rem;
    transition: all .40s ease;
}

.navbar a:hover{
    background: rgb(0, 181, 0);
    color: #ffffff;
}

.navbar li a{
    text-decoration: none;
    display: list-item;
}

section
{
    padding: 35px 5%;
}

.contact
{
    background: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    margin-top: 100px;
}

.contactForm h1
{
    font-size: 70px;
    color: black;
    margin-bottom: 10px;
}

span
{
    color: green;
}

.contactForm p
{
    color: rgb(61, 61, 61);
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.contactForm form 
{
    position: relative;
}

.contactForm form input,
form textarea
{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background: rgb(221, 221, 221);
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}

.contactForm textarea
{
    resize: none;
    height: 200px;
}

.contactForm form .btn
{
    padding: 7px 40px;   
    background: green;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
    color: white;
    transition: 0.6s;
}

.contactForm form .btn:hover
{
    border: 2px solid limegreen;
    background: transparent;
    transform: scale(1.05);
    color: black;
}

@media (max-width: 803px){
    .logo img{
        max-width: 80px;
    }
    header{
        padding: 15px 5%;
    }
    header .navbar{
        display: none;
    }
    .contactForm form input,
    form textarea{
        background-color: #e8f0fe;
    }
}

/* Big Screens Like Televisions */

@media (min-width: 1116px){
    .contact{
        min-height: 88vh;
    }
}