*{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial;
  transition: 0.5s;
  background: blue;
}

body{
  width: 100vw;
  height: 100vh;
  background: white;
  padding-top: 50px;
}

h2{
  color: green;
  font-weight: 750;
}

.row{
  padding-top: 50px;
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.box{
  width: 320px;
  height: 500px;
  background: white;
  border-radius: 20px;
}

.box img{
  width: 250px;
}

.box h3{
  font-size: 25px;
  padding-top: 20px;
  color: green;
}