*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    font-family: 'raleway';
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background: rgb(255, 255, 255);
}

.content-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text{
    text-align: center;
    padding-top: 30px;
    margin-bottom: 2px;
    font-weight: 600;
    position: relative;
    color: black;
}

.content-box .card{
    position: relative;
    width: 350px;
    padding: 72px;
    background: rgb(245, 245, 245);
    box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.content-box .card::before{
    content: '';
    width: 100%;
    height: 43%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.05);
    z-index: 2;
    pointer-events: none
}

.content-box .card .icon{
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
    box-shadow: #000
}

.content-box .content{
    margin-top: 20px;
}
.content-box .content p{
    margin-top: 12px;
    margin-bottom: 15px;
}

.content-box .card .content
{
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

h3{
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}

.content-box .card .content p{
    margin: 0;
    padding: 0;
}

.content p{
    font-weight: 600;
}

.content a{
    display: inline-block;
    padding: 10px 20px;
    background: rgb(245, 245, 245);
    border-radius: 9px;
    text-decoration: none;
    color: #000;
    font-weight: 900;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.content a:hover{
    color: darkgreen;
}

@media (max-width: 1010px){
    header .nav{
        display: none;
    }
    header{
        padding: 10px 20px;
    }
    header .logo{
        max-width: 90px;
    }
    .content-box {
        justify-content: space-evenly;
    }
}