* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --step--2: clamp(0.65rem, calc(0.53rem + 0.60vw), 0.96rem);
  --step--1: clamp(0.78rem, calc(0.62rem + 0.82vw), 1.20rem);
  --step-0: clamp(0.94rem, calc(0.72rem + 1.10vw), 1.50rem);
  --step-1: clamp(1.13rem, calc(0.83rem + 1.46vw), 1.88rem);
  --step-2: clamp(1.35rem, calc(0.96rem + 1.94vw), 2.34rem);
  --step-3: clamp(1.62rem, calc(1.11rem + 2.56vw), 2.93rem);
  --step-4: clamp(1.94rem, calc(1.27rem + 3.35vw), 3.66rem);
  --step-5: clamp(2.33rem, calc(1.46rem + 4.38vw), 4.58rem);
}

:root {
  --bg-color: #020312;
  --text-color: #fff;
  --main-color: #eb4a4a;
  --second-color: gray;
  --other-color: #12141c;
  --h1-font: 5.2rem;
  --h2-font: 3.5rem;
  --p-font: 1.1rem;
}

body {
  background: var(--text-color);
  color: var(--bg-color);
}

header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.601);
  padding: 15px 20px;
  border-bottom: 1px solid transparent;
  transition: all 0.4 ease;
}

header:hover {
  background-color: white;
  transition: 0.6s;
}

header {
  background-color: rgba(255, 255, 255, 0.601);
  transition: 0.6s;
}

.logo img {
  position: relative;
  max-width: 90px;
  z-index: 1002;
}

.navbar {
  display: flex;
}

.navbar a {
  color: rgb(0, 0, 0);
  font-size: var(--p-font);
  font-weight: 600;
  padding: 10px 25px;
  margin: 0 2px;
  border-radius: 20rem;
  transition: all 0.4s ease;
}

.navbar a:hover {
  background: rgb(0, 181, 0);
  color: #ffffff;
}

.btn {
  display: inline-block;
  border-radius: 110px;
  font-size: 17px;
  color: #ffffff;
  background: rgb(0, 181, 0);
  border: 1px solid rgb(0, 181, 0);
  padding: 10px 25px;
}

.hamburger {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  display: block;
  width: 2rem;
  height: 2rem;
  z-index: 1002;
}

.hamburger span {
  color: rgb(69, 179, 69);
  font-size: 1.9rem;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  padding-top: 10rem;
  opacity: 0;
  transform: translateY(-100%);
  background-color: white;
  transition: 0.45s;
}

.mobile-menu.is-open {
  opacity: 1;
  transform: translateY(0);
}

.mobile-menu a {
  font-weight: 600;
  display: block;
  padding: 1rem;
  color: black;
  font-size: 1.25rem;
  text-align: center;
  transition: 0.4s;
}

.mobile-menu a:hover {
  color: rgb(0, 181, 0);
}

section {
  padding: 160px 90px;
}

#services {
  padding: 80px 75px 60px;
}

.home {
  width: 100%;
  position: relative;
  padding-left: 40px;
  background: white;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0px;
}

.new {
  margin-top: 86px;
  margin-bottom: 0px;
}

.home-test h2 {
  color: #000000;
  height: 14vh;
  font-weight: 700;
  font-size: var(--h2-font);
}

.home-test h1 {
  margin: 18px 0;
  font-size: var(--h1-font);
  font-weight: bold;
  line-height: 1.1;
  position: relative;
  width: 110%;
  color: rgb(255, 27, 27);
  align-items: center;
  display: inline;
  font-weight: 900;
}

.home-test h3 {
  color: #000000;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background: rgb(0, 181, 0);
}

.about-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.about-text h1 {
  margin-top: 100px;
  margin: 0;
  font-size: var(--step-5);
}

.about-text h2 {
  color: white;
  font-size: var(--step-0);
  margin-left: 10px;
}

.red {
  color: black;
  font-weight: 600;
}

.btt {
  display: inline-block;
  border-radius: 110px;
  font-size: 17px;
  color: #ffffff;
  background: rgb(0, 0, 0);
  border: 1px solid rgb(0, 181, 0);
  padding: 10px 25px;
  margin-bottom: 30px;
  margin-top: 20px;
  transition: 0.4s all ease;
}

.btt:hover {
  background-color: darkgreen;
}

.main-text {
  text-align: center;
}

.main-text h1 {
  font-size: var(--step-4);
  margin-bottom: 10px;
}

span {
  color: rgb(255, 27, 27);
}

.about-text{
  font-size: var(--step--1);
}

.about h2{
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  line-height: 1.3em;
}

.about h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}



/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/***
 🟣 SmolCSS Snippet Styles
*/

.scroll-snap {
  margin-top: 35px;
}

.smol-scroll-snap {
  /* Set up container positioning */
  display: grid;
  grid-auto-flow: column;
  grid-gap: 3rem;
  /* Enable overflow along our scroll axis */
  overflow-x: auto;
  /* Define axis and scroll type, where
  `mandatory` means any scroll attempt will
  cause a scroll to the next item */
  scroll-snap-type: x mandatory;
  padding: 0 0 1.5rem;
  -webkit-overflow-scrolling: touch;
}

.smol-scroll-snap > * {
  width: min(25ch, 60vw);
}

/* Additional demo styles from SmolCSS.dev
   Not all styles may be needed for this pen */
body > ul {
  list-style: none;
  margin: 0;
}

[class*="smol"]:not([data-component]) > *:not([data-unstyled]) {
  padding: 1rem;
  color: #333;
  font-size: clamp(1.5rem, 1.5vw);
  font-weight: bold;
  text-align: center;
  border-radius: 0.15em;
}

.smol-scroll-snap img {
  max-width: 200px;
  margin-inline: auto;
  border-radius: 8%;
  max-height: 250px;
}

.smol-scroll-snap::-webkit-scrollbar {
  max-height: 10px;
}

.smol-scroll-snap::-webkit-scrollbar-thumb {
  background: rgb(0, 181, 0, 0.475);
  border-radius: 10px;
}

@media (max-width: 1325px) {
  header {
    padding: 20px 3%;
  }
  header.sticky {
    padding: 8px 3%;
  }
  section {
    padding: 130px 60px;
  }
  .home {
    margin-bottom: 0px;
  }
  .new {
    margin-top: 86px;
    margin-bottom: 0px;
  }
  .about-text {
    margin-top: 30px;
    padding-left: 40px;
  }
  .about-text h2 {
    font-weight: 600;
  }
}

@media (max-width: 980px) {
  :root {
    --h1-font: 5.2rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;
  }
  section {
    padding: 80px 70px;
  }
  header {
    padding: 5px 3%;
  }
  .home {
    height: 100vh;
    margin-bottom: 0px;
  }
  .home {
    grid-template-columns: 1fr;
  }
  .home-test h1 {
    grid-template-columns: 1fr;
    text-align: left;
  }
  .home-test h2 {
    grid-template-columns: 1fr;
    text-align: left;
  }
  .home-test h3 {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about {
    grid-template-columns: 1fr;
  }
  .about-img {
    grid-template-columns: 1fr;
  }
  .about-text h1 {
    grid-template-columns: 1fr;
    text-align: left;
  }
  .home {
    margin-bottom: 0px;
  }
  .new {
    margin-top: 86px;
    margin-bottom: 0px;
  }
  .about-text {
    margin-top: 30px;
    padding-left: 40px;
  }
  .about-text h2 {
    font-weight: 600;
  }
  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background: rgb(0, 181, 0);
  }
  .about-img img{
    width: 90%;
  }
  .logo img {
    max-width: 80px;
  }
  #services {
    padding: 123px 3% 50px;
  }
}

@media (max-width: 830px) {
  .navbar {
    display: none;
  }
  header .btn {
    display: none;
  }
  :root {
    --h1-font: 3.7rem;
    --h2-font: 2.7rem;
    --p-font: 1rem;
  }
}

@media (min-width: 831px) {
  .mobile-menu,
  .hamburger {
    display: none;
  }
}

@media (max-width: 412px) {
  .about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background: rgb(0, 181, 0);
  }
  .about-img img {
    height: 50%;
    width: 67%;
    position: relative;
    margin-top: 30px;
    margin-left: 66px;
  }
  .about-text {
    margin-top: 0px;
    margin-right: 5px;
    padding-left: 25px;
  }
  .box img {
    display: none;
  }
  .new {
    margin-top: 190px;
  }
  .new2 {
    margin-top: 20px;
  }
  .new2 h1 {
    font-size: 3.5em;
    font-weight: 900;
  }
  .services-content {
    justify-content: space-evenly;
  }
}
@media (max-width: 1115px) {
  section {
    height: 100%;
  }
}
@media (max-width: 611px) {
  .new2 {
    margin-top: 35px;
  }
  .about {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-img img {
    margin-left: 66px;
    margin: 20px 0 20px 24.3%;
  }
}
@media (max-width: 725px) {
  .about {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-img img {
    height: 50%;
    width: 50%;
    position: relative;
    margin-top: 30px;
    align-items: center;
  }
  .about-text {
    margin-top: 0px;
    margin-right: 5px;
    padding-left: 14px;
  }
  .about-text h2 {
    padding-right: 10px;
  }
  .main-text h2 {
    font-size: 1.3em;
  }
  .home {
    padding-left: 20px;
  }
  .whole {
    width: 100%;
  }
}

/* Big Screens (Televisions etc...) */

@media screen and (min-width: 980.5px){

}

@media (min-width: 1024px){
  
}

@media (min-width: 1200px){

}